html, body {
  height: 100%;  /* Asegura que el body y el HTML ocupen toda la altura */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;  /* Organiza los elementos de arriba hacia abajo */
  font-family: Arial, sans-serif; /* Fuente para el contenido */
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
  position: relative; /* Asegura que los elementos posicionados absolutamente se alineen respecto al body */
}

.app {
  flex-grow: 1;  /* Hace que el contenido ocupe el espacio disponible */
  padding-bottom: 60px; /* Añade espacio inferior para que no se superponga con el footer */
}

/* Estilos para el Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #534f4f;  /* Fondo oscuro */
  color: white;            /* Color de texto */
  text-align: center;      /* Centra el texto */
  padding: 15px 0;
  font-size: 14px;
  left: 0;                 /* Asegura que el footer esté alineado al borde izquierdo */
  right: 0;                /* Asegura que el footer se estire a lo largo del ancho de la página */
  display: flex;
  justify-content: center; /* Centra el contenido dentro del footer */
  align-items: center;     /* Alinea verticalmente el contenido en el centro */
  flex-direction: column;  /* Coloca los iconos y los nombres uno encima del otro */
}

/* Estilo para los iconos de redes sociales */
.social-links {
  display: flex;
  flex-direction: column;  /* Coloca los iconos encima de los nombres */
  justify-content: center;
  gap: 10px;               /* Espacio entre los iconos y los nombres */
  margin-bottom: 10px;
}

.social-links a {
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #22c076;  /* Color al hacer hover */
}

/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }

  .social-links {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 10px;
  }

  .social-links {
    gap: 10px;
  }
}
