/* General Styles */
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: url('/src/assets/mesa-madera.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center center; /* La imagen siempre está centrada */
  background-attachment: fixed; /* Fija el fondo durante el scroll */
  min-height: 100vh; /* La altura mínima es 100% de la pantalla */
  max-width: 100%; /* Asegura que el contenedor cubra todo el ancho de la pantalla */;


}



.titulo {
  margin-top: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px cyan,
  0 0 20px cyan,
  0 0 40px cyan,
  0 0 80px cyan;
}

.card-title1 {
  color: #ffffff;
  text-shadow: 0 0 10px cyan,
  0 0 20px cyan,
  0 0 40px cyan;
}

.card-title {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #ffffff;
}


.card {
  background-color: rgba(0, 0, 0, 0.2);
  /* border: 1px solid #ddd; */
  margin-top: 15%;
  border-radius: 8px;
  padding: 20px;
  /* margin: 20px auto; */
  max-width: 600px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;  /* Para apilar los elementos verticalmente */
  justify-content: center; /* Centrar el contenido verticalmente */
  align-items: center;     /* Centrar el contenido horizontalmente */
  text-align: center;      /* Asegura que el texto dentro de la tarjeta esté centrado */
}

.card-body {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.card-text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  margin-top: 15px;
}

.logo-mercadito {
  max-width: 150px; /* Evitar que el logo sea demasiado grande */
  height: auto;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #439a41;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  align-items: center;
  transition: background-color 0.3s ease;  /* Suaviza el cambio de color */
  width: auto;
}

.btn:hover {
  background-color: #68ba6f;
  color: black;
}

footer {
  margin-top: 40px;
  text-align: center;
}

/* Diseño Responsive  */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .card {
    padding: 15px;
    margin-top: 60%;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .btn {
    width: 100%;
    padding: 15px 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2rem;
  }

  .card {
    padding: 10px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  .btn {
    padding: 15px 0;
    font-size: 1rem;
  }
}
