.body-App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-body {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.card-title1 {
  color: #ffffff;
  margin-top: 5px;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
}

.card-text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 1rem;
  color: white;
}

.logo-mercadito {
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #439a41;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #68ba6f;
  color: black;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
    margin-top: 60%;
  }

  .btn {
    width: 100%;
    padding: 15px 0;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 10px;
  }

  .btn {
    padding: 15px 0;
    font-size: 1rem;
  }
}
