

.app {
  flex-grow: 1;  
  padding-bottom: 60px; 
}

/* Estilos para el Footer */
.footer {
  position: absolute;
  bottom: 0;
  height: 3%;
  width: 100%;
  background-color: #333131;          
  text-align: center;      
  padding: 15px 0;
  font-size: 14px;
  left: 0;                
  right: 0;                
  display: flex;
  justify-content: center; 
  align-items: center;    
  flex-direction: column;  
}



.footer-references p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}

.footer-references span {
  font-weight: bold;
}

/* Estilo para los iconos de redes sociales */
.footer-content {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  gap: 25px; /* Espaciado entre los iconos */
  margin-bottom: 10px;
}

.footer-icon {
  color: white;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
  color: greenyellow;
  transform: scale(1.2); /* Efecto de escala en el hover */
}

/* Estilo para los iconos de redes sociales */

/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }

  .social-links {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 10px;
  }

  .social-links {
    gap: 10px;
  }
}
