.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

label {
    margin-top: 5%;
    color: white;
    font-size: 18px;
}
img {
    width: auto;
    height: 150px;
    margin: auto;
    text-align: center;
}

