

.formulario {
    width: 450px;
    height: 600px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: white;
}

form {
    width: 350px;
    height: 350px;
    margin: auto;
}
h1 {
    text-align: center;
    color: transparent;
}

.datos {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}
